html
	head
		title the.fourth.party
		link(rel='stylesheet',href='/css/main.css')
		link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400')
		script(type='text/javascript',src='/scripts/app.js')
	body
		div#container2
			div#howto
				h1 the.fourth.party
				h2 Terms of Service
				p the.fourth.party cannot be held responsible for anything you might or might not lose as a result of using this service.
